<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--angular js-->
    <script src="js/angular.min.js"></script>
    <!--estilos-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
   
    <title>Document</title>
</head>
<body>
    <h1>{{"wellcome to the hell -angular js" | uppercase}}</h1>
    
<div class="container">
    <h2>Filtros</h2>
    <a href="https://docs.angularjs.org/api/ng/filter" target="_blank">documentacion</a>
    <ul class="list-group">
      <li class="list-group-item"><span class="badge badge-primary">uppercase</span>{{"ejemplo de filtro uppercase" |uppercase}}</li>
      <li class="list-group-item"><span class="badge badge-primary">lowercase</span>{{"EJEMPLO DE FILTRO LOWERCASE" |lowercase}}</li>
      <li class="list-group-item"><span class="badge badge-primary">date</span>{{'1288323623006' | date:'MM/dd/yyyy'}}</li>
      <li class="list-group-item"><span class="badge badge-primary">numbre</span>{{'1288323623006' |number}}</li>
      <li class="list-group-item"><span class="badge badge-primary">currency</span>{{'1288323623006' |currency:"USD$"}}</li>
     </ul>

<h2>Directiva ng-model</h2>
     <p>

        Su nombre : {{nombre |uppercase}}
        <br>
        <input type="text" class="form-control" ng-model="nombre" placeholder="Escribe tu nombre">
     </p>
     <p>
         Seleccione el pais:{{pais}}
         <select class="form-control" ng-model="pais">
             <option value="es">españa</option>
             <option value="eu" selected>Euskadi</option>
             <option value="eeuu">EEUU</option>
         </select>
     </p>
    <p>
     Tus Gustos:g1{{g1}}g2{{g2}}g3{{g3}}g4{{g4}}
     <br>
     <input type="checkbox" ng-model="g1">Musica<br>
     <input type="checkbox" ng-model="g2">Surf<br>
     <input type="checkbox" ng-model="g3">Bromas<br>
     <input type="checkbox" ng-model="g4">Caidas<br>
    </p>


</div>
</body>
</html>